@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: slateblue;
  --secondary: white;
  --thirdColor: #055558;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* .nav-bar {
  position: sticky;
  top: 0;
} */

/* home  */
.home-layout {
  width: 1200px;
  margin: auto;
}


/*  header and navbar */
/* header {
  position: sticky;
  top: 0;
} */

.nav-bar {
  position: sticky;
  top: 0;
}

header span {
  color: var(--primary);
}
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;

}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
  font-size: 20px;
  font-weight: bolder;
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.3s;
}
header nav a.active {
  background-color: var(--primary);
  color: var(--secondary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout-content {
  width: 1200px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.help-layout nav a {
  text-decoration: none;
  padding: 8px;
  border: 2px solid white;
  border-radius: 6px;
  transition: 0.3s;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
}

.help-layout nav a:hover {
  border: 2px solid var(--primary);
}

.help-layout nav a.active {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border: none;
}

/* faq */
.faq {
  margin-top: 50px;
}
.faq h3 {
  margin-bottom: 20px;
}
.faq .question {
  background-color: white;
  padding: 10px;
  margin: 26px auto;
  box-shadow: 0px 0px 5px 3px #0e1119c8;
}



/* about */

.about-us {
  width: 1200px;
  margin: auto;
  padding: 20px;
}

.about-us h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

}
/*Contact*/
form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 5px 3px #0e1119c8;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  border: 2px solid black;
  margin-bottom: 60px;
  padding: 8px;
  border-radius: 4px;

  width: 300px;
}
form label span {
  margin-bottom: 10px;
}
form .submit {
  color: white;
  border: 3px solid var(--primary);
  padding: 5px 10px;
  font-weight: bold;
  background-color: var(--primary);
}

/*Not found 404*/
.not-found {
  width: 100%;
  text-align: center;
}
.not-found-404 {
  color: var(--primary);
  font-size: 10rem;
}
.not-found a {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
/* careers list */

.careers > a {
  display: block;
  background-color: var(--thirdColor);
  box-shadow: 0px 0px 5px 3px #0e1119c8;
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
  font-size: 0.8em;
  color: #bbb;
}

/* careers details */
.career-layout {
  width: 1200px;
  margin: auto;
}
.career-details {
  background-color: var(--thirdColor);
  box-shadow: 0px 0px 5px 3px #0e1119c8;
  padding: 20px;
  border-radius: 4px;
  margin: 40px 0;
}
.career-details h2 span {
  color: var(--primary);
}

.career-not-found {
  background-color: #1d243cc8;
  box-shadow: 0px 0px 5px 3px #0e1119c8;
  padding: 20px;
  border-radius: 4px;
  margin: 40px 0;
}

.career-not-found span {
  font-size: 4rem;
  color: var(--primary);
}
.career-not-found button {
  margin: 5px;
}

.career-not-found .back-arrow {
  font-size: 3rem;
  background: none;
  color: var(--primary);
}
/* breadcrumbs */
